.switch {
  position: relative;
  margin-top: 0.5rem;
  width: 3rem;
  height: 1.5rem;
  border-radius: 2rem;
  display: inline-block;
  cursor: pointer;
  @apply bg-custom-secondary_text;
}

.switch:hover {
  opacity: 0.6;
}

.switch::after {
  content: '';
  position: absolute;
  top: 0.05rem;
  left: 0.1rem;
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  background-color: white;
  color: white;
  transition: all 0.2s linear;
}

input[type='checkbox']:checked + .switch::after {
  translate: 1.5rem 0;
}

input[type='checkbox']:checked + .switch {
  @apply bg-custom-button_bg;
}
